/* CSS crunched with Crunch - http://crunchapp.net/ */
.region,
.breadcrumb,
div.tabs,
.field-type-addthis,
nav.links,
.comment-form {
  display: none;
}
#region-branding,
#region-content {
  display: block;
}
#zone-user-wrapper,
#zone-content,
#section-content .zone {
  border: none;
}
